<!doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>
   Let's start the game!
    <br>
    <form action="/madlib">
        <p>
        Please enter your name:
        <input type="text" name="person">
        </p>
        

        <p>
        Please enter your favorite color:
        <input type="text" name="color">
        </p>

        
        <p>
        Please select a noun:
        <select name="noun">
            <option value="dinosaur">Dinosaur</option>
            <option value="rabbit">Rabbit</option>
            <option value="dynamite">Dynamite</option>
            <option value="nest">Nest</option>
            </label>
        </select>
        </p>

        
        <p>
        Please select an adjective:
        <select name="adjective">
            <option value="bouncy">Bouncy</option>
            <option value="jittery">Jittery</option>
            <option value="ravenous">Ravenous</option>
            <option value="sparkly">Sparkly</option>
        </select>
        </p>

        <br>
        <input type="submit">
    </form>
</body>
</html>