<!doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>
   Let's start the game!
    <br>
    <form action="/madlib">
        Please enter your name:
        <input type="text" name="person">
        <label>Person</label>
        <br>
        Please enter your favorite color:
        <input type="text" name="color">
        <label>Color</label>
        <br>
        Please select a noun:
        <select name="noun">
            <option value="dinosaur">Dinosaur</option>
            <option value="rabbit">Rabbit</option>
        </select>
        <br>
        Please select an adjective:
        <select name="adjetive">
            <option value="bouncy">Bouncy</option>
            <option value="jittery">Jittery</option>
        </select>
    </form>
</body>
</html>